annotated-types
anyio
blinker
click
colorama
fastapi
Flask
gunicorn
h11
idna
itsdangerous
Jinja2
joblib
MarkupSafe
nltk
numpy
pydantic
pydantic_core
regex
scikit-learn
scipy
sniffio
starlette
textblob
threadpoolctl
tqdm
typing_extensions
uvicorn
Werkzeug
